* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 780px;
  width: 100%;
  font-family: 'Montserrat';
  flex-grow: row;
}

.header {
  position: relative;
  background: white;
  font-family: 'Montserrat';
  font-size: 20px;
  color: black;
  border-bottom-left-radius: 50px;
  margin-bottom: -50px;
  height: 20%;
  width: 100%;
  padding: 80px 0 90px 70px;
  z-index: 10;
}

.payment-info {
  position: relative;
  margin-bottom: -50px;
  border-bottom-left-radius: 50px;
  background: linear-gradient(to bottom right, #00f5bc, #a853fc);
  color: white;
  z-index: 9;
  height: 30%;
  width: 100%;
  padding: 70px 10%;
}

.checkout {
  position: relative;
  margin-bottom: -50px;
  border-bottom-left-radius: 50px;
  background: black;
  color: white;
  z-index: 8;
  height: 40%;
  width: 100%;
  padding: 70px 10%;
}

.continue {
  position: relative;
  margin-bottom: -50px;
  background: #bd7aff;
  color: white;
  z-index: 7;
  height: 20%;
  width: 100%;
  padding: 70px;
  text-align: center;
}

input {
  background: transparent;
  border-style: none;
  border-bottom: 1px solid white;
}

input, label {
  font-family: 'Montserrat';
}

@media only screen and (max-width: 768px) {
  body {
    width: 100%;
  }
}
